.top-bar-c {
  background-color: blue;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  a {
    color: white;
    text-decoration: none;

    button {
      color: blue;
      height: fit-content;
      padding: 10px;
      background-color: white;
      border: none;

      &:hover {
        cursor: pointer;
      }
    }
  }
}