.product-list-c {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;

  .product {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;

    .title {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;

      a {
        color: blue;
      }
    }

    button {
      color: white;
      background-color: blue;
      padding: 10px;
      border: none;

      &:hover {
        cursor: pointer;
      }
    }
  }
}